.courses {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 0;
    margin: 0;
}

// Media query to show one by one on mobiles


@media (max-width: 1200px) {
    .courses {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1000px) {
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 769px) {
    .courses {
        grid-template-columns:repeat(1, 1fr);
    }
}