<header class="header">
    <div class="navbar">

      <a routerLink="/login">
        <h3 class="portfolio" class="bold">BeBlocky 2.0</h3>
      </a>
      <div class="links">
        <a routerLink="/login">Sign-up / Log-in</a>
      </div>
    </div>
    <div class="content">
      <h3 class="name bold">Beblocky 2.0</h3>
      <p class="desc shorttext">
        The ultimate way to learn coding. An ide with an interactive learning interface. Sign up today!
      </p>
      <a routerLink="/login"><button class="btn header-btn">Get Started</button></a>
    </div>
  </header>