.header {
    width: 100%;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black ;
    // justify-content: center;
}

.outline{
    border: 0.25rem solid #5baf48;
border-radius:1rem;
}