<div class="container">
    <div class="header">
        <h1>The courses you are already enrolled in.</h1>
    </div>
    <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
    <div class="content" *ngIf="!showSpinner">
        <div class="courses">
            <h2>Your HTML Courses</h2>
            <app-courses [courses]="htmlCourses"></app-courses>
        </div>
        <div class="courses">
            <h2>Your CSS Courses</h2>
            <app-courses [courses]="cssCourses"></app-courses>
        </div>
        <div class="courses">
            <h2>Your JavaScript Courses</h2>
            <app-courses [courses]="jsCourses"></app-courses>
        </div>
    </div>
</div>