<div class = "padding-container">
<div class = "header-container">
    <div class = "header-segment" >
        <img *ngIf = "!night && beblockyImage"  src = "../../assets/logo-icons/BeBlocky-Logo-Small.png">
        <img *ngIf = "night && beblockyImage"  src = "../../assets/logo-icons/BeBlocky-Logo-Small-White.png">
    </div>

    <div class = "header-segment">
        <fa-icon class="header-icon sun" *ngIf = "!night" [icon]="['fas', 'sun']"
        (click) = "nightAndDay()" ></fa-icon>
        <fa-icon class="header-icon moon" *ngIf = "night" [icon]="['fas', 'moon']"
        (click) = "nightAndDay()" ></fa-icon>
        <fa-icon *ngIf = 'beblockyImage' class="header-icon" (click) = "toggleSetting()" 
        [icon]="['fas', 'gear']"></fa-icon>
        <div class = "user-name" *ngIf="userName"><h4>@{{user.username}}</h4></div>
        <!--
        <fa-icon class="header-icon" [icon]="['fas', 'bars']"></fa-icon>
        -->
    </div>
</div>
</div>

<div *ngIf = "showSetting" class = "setting-menu">
    <div class = "setting-menu-header">
        <fa-icon class="header-icon" [icon]="['fas', 'gear']"></fa-icon>
    </div>
<p>CODE EDITOR:</p>
    <div class = "setting">
        <label for="customRange1" class="form-label">FONT SIZE</label><br>
        <input type="range" class="form-range" id="customRange1"
        [ngModel]="fontSize"
        (ngModelChange)="setFontSize($event)">
    </div>

    <div class = "setting">
        <label for="full-screen" class="form-label">FULL SCREEN:</label><br>
        <button id = "full-screen" (click) = "fullScreen()">FullScreen</button>

    </div>

    <div class = "setting">
        <label for="theme">THEME</label><br>
        <select [ngModel] = "theme" (ngModelChange)="setTheme($event)">
            <option selected>dracula</option>
            <option *ngFor = "let theme of themes">
                {{theme}}
            </option>
        </select>
    </div> 
</div>


