.padding-container{
    padding: 0.1rem;
}

.header-container{
    display: flex;
    height: 3.415rem;
    width:100%;
    justify-content: space-between;
    padding-left:1rem;
    padding-right:1rem;
    margin-bottom: 0.25rem;

}
.header-icon{
    font-size:2rem;
    margin-left: 2rem ;
    color: lightgray;
    display: grid;
    place-items: center;
}
.sun{
    color: #FFD700;
}
.moon{
    color: white;
}
.user-name{
    height: 100%;
    display: grid;
    place-items: center;
    margin-left: 2rem;
 
}
.user-name h4{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height:3rem;
  
}
.header-segment {
    display: flex;
    padding:0.5rem;

}
.setting-menu{
    color:#939CA1;
    font-weight: bold;
    height:30rem;
    z-index:1001;
    background-color:white;
    position: absolute;
    right:4rem;
    top:4rem;
    border-radius: 1rem;
    box-shadow: 5px 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
    overflow-y:scroll;
    animation: bounce 1s;
    padding:1rem;
}
 
#full-screen{
width:100%;
border: none; 
background-color: lightgray;
}
.setting-menu-header{
    display:flex;
    width:100%;
   
}


.setting{
  padding:1rem;
  margin-bottom:1rem;
  background-color: #F0EEEE;
  border-radius:1rem;
  box-shadow: 0px 8px 24px 0px rgba(140, 149, 159, 0.2);
}

.form-range{
    width:100%;
    height:0.25rem;
}

.setting-menu-header .header-icon{
    font-size: 2rem;
    margin:auto;
}

.setting-menu::-webkit-scrollbar {
    width: 5px;
  }
  
.setting-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
  }
  
.setting-menu::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
  }

@keyframes bounce {
    0% { top: 4rem; opacity: 0; }
    50% { top: 5rem; }
    100% { top: 4rem; opacity: 1; }
  }

@media (max-width:1000px) {
    .header-icon{
        margin-left:1rem;
    }
}