<div class="all-editors">
    <div class="editor-toggle" *ngIf = "!verticalEditor">
      <button (click)="toggleEditor('html')" [class.active]="activeEditor === 'html'">HTML</button>
      <button (click)="toggleEditor('css')" [class.active]="activeEditor === 'css'">CSS</button>
      <button (click)="toggleEditor('js')" [class.active]="activeEditor === 'js'">JS</button>
    </div>
    <button (click) = "changeEditor()" class = "restructure">
      <fa-icon *ngIf = "!verticalEditor" [icon]="['fas','layer-group']"></fa-icon>
      <fa-icon *ngIf = "verticalEditor" [icon]="['fas','square']"></fa-icon>
    </button>
    <div class="editor-section " [ngClass]="{'reveal': addHtmlClass, 'vertical': verticalEditor}" >
      <label for="html-editor" >index.html</label>
      <div id = "html-editor" class="app-ace-editor" #htmlEditor></div>
    </div>
    <div class="editor-section " [ngClass]="{'reveal': addCssClass, 'vertical': verticalEditor}" >
      <label for="css-editor">style.css</label>
      <div class="app-ace-editor" #cssEditor></div>
    </div>
    <div class="editor-section " [ngClass]="{'reveal': addJsClass , 'vertical': verticalEditor}" >
      <label for="js-editor" >script.js</label>
      <div class="app-ace-editor" #jsEditor></div>
    </div>
  </div>
  