@font-face {
    font-family: 'Chronic-Regular';
    src: url('./assets/fonts/font/Chronic-Regular.ttf');
  }

@font-face {
    font-family: 'Gaegu';
    src: url('./assets/fonts/Gaegu/Gaegu-Regular.ttf');
  }


:root {
    --clr-main: #386d2c;
    --linear-gradient: linear-gradient(to bottom, #5baf48, #a7d464);
}


/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

::-webkit-scrollbar-track {
    background: #8e8e8e49;
    border-radius: 100vw;
    margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(112, 111, 111);
    border-radius: 100vw;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: var(--linear-gradient);
    border-radius: 100vw;
    margin-block: 0.2rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--clr-main);
    border-radius: 100vw;
    padding: 0.1rem;
}

/* HTML Reset Stylesheet */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
object,
iframe,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

.parts{
    font-family: 'Gaegu';
  }
  .heads{
    font-family: 'Chronic-Regular';
    font-size: 2.2rem;
  }