<div class="container">
  <header class="header">
      <nav class="header-navigation">
          <ul class="nav-list"> 
              <li class="nav-item"><a routerLink="/"> Home </a></li>
          </ul>
      </nav>
  </header>
  <main class="main">
      <div class="courses-container">
          <div
              routerLinkActive="active"
              *ngFor="let course of courses"
              class="course">

              <div class="course-about">
                  <h3>{{ course.courseName }}</h3>
              </div>
              <div class="course-progress">
                <div
                    class="course-progress-bar"
                    [style.width.%]="getProgress(course.courseId)">
                </div>
              </div>

              <div class="course-action-button">
                  <a routerLink="/ide/{{ course.courseId }}" routerLinkActive="active"
                  class="course-goto-button">
                      <fa-icon class="sidebar-menu-item-icon"
                          [icon]="gotoIcon"></fa-icon>
                  </a>
              </div>

          </div>
      </div>
      <div class="ad-board">
          <h1>What you can do next?</h1>
          <div class="ad ad-game">
              <a href="https://BeBlocky.com">
                  <h3>Play the Amazing Coding Game!</h3>
              </a>
          </div>

          <div class="ad ad-toy">
              <a href="https://yenettacode.com/">
                  <h3>Explore Our inperson education</h3>
              </a>
          </div>
      </div>
  </main>
</div>
